doctype html
html
	head
		title= title
		link(rel = "stylesheet", href = "/stylesheets/style.css")
		link(rel = "stylesheet", href = "/stylesheets/w2ui-1.3.min.css")
		link(rel = "stylesheet", href = "/stylesheets/themes/default/style.css")
		link(rel = "stylesheet", href = "/stylesheets/slick.grid.css")
		link(rel = "stylesheet", href = "/stylesheets/slick-default-theme.css")
		script(type = "text/javascript", src = "/javascripts/lib/jquery-2.0.3.min.js")
		script(type = "text/javascript", src = "/javascripts/lib/jquery.event.drag-2.2.js")
		script(type = "text/javascript", src = "/javascripts/lib/w2ui-1.3.min.js")
		script(type = "text/javascript", src = "/javascripts/lib/slickgrid/slick.core.js")
		script(type = "text/javascript", src = "/javascripts/lib/slickgrid/slick.grid.js")
		script(type = "text/javascript", src = "/javascripts/lib/slickgrid/slick.dataview.js")
		script(type = "text/javascript", src = "/javascripts/lib/underscore-min.js")
		script(type = "text/javascript", src = "/javascripts/lib/backbone-min.js")
		script(type = "text/javascript", src = "/javascripts/lib/humanize.min.js")
		script(type = "text/javascript", src = "/javascripts/models.js")
		script(type = "text/javascript", src="/javascripts/pstree.js")
	body
		div(id = "layout")
		div(id = "grid")
