doctype html
html
	head
		title= title
		link(rel = "stylesheet", href = "/stylesheets/style.css")
		link(rel = "stylesheet", href = "/stylesheets/themes/default/style.css")
		link(rel = "stylesheet", href = "/stylesheets/slick.grid.css")
		link(rel = "stylesheet", href = "/stylesheets/slick-default-theme.css")
		link(rel = "stylesheet", href = "/stylesheets/jquery.mobile-1.4.0.min.css")
		script(type = "text/javascript", src = "/javascripts/lib/jquery-2.0.3.min.js")
		script(type = "text/javascript", src = "/javascripts/lib/jquery.event.drag-2.2.js")
		script(type = "text/javascript", src = "/javascripts/lib/jquery.mobile-1.4.0.min.js")
		script(type = "text/javascript", src = "/javascripts/lib/underscore-min.js")
		script(type = "text/javascript", src = "/javascripts/lib/backbone.js")
		script(type = "text/javascript", src = "/javascripts/lib/slickgrid/slick.core.js")
		script(type = "text/javascript", src = "/javascripts/lib/slickgrid/slick.grid.js")
		script(type = "text/javascript", src = "/javascripts/lib/slickgrid/slick.formatters.js")
		script(type = "text/javascript", src = "/javascripts/lib/slickback.min.js")
		script(type = "text/javascript", src = "/javascripts/lib/humanize.min.js")
		script(type = "text/javascript", src = "/javascripts/lib/smoothie.js")
		script(type = "text/javascript", src = "/javascripts/models.js")
		script(type = "text/javascript", src = "/javascripts/views.js")
		script(type = "text/javascript", src="/javascripts/pstree.js")
	body
		div(class = "ui-grid-a")
			div(id = "cpuChart", class = "ui-block-a")
		div(id = "grid-container", class = "ui-grid-solo")
			div(id = "grid")
