doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/stylesheets/themes/default/style.css")
		link(rel="stylesheet", href="/stylesheets/slick.grid.css")
		link(rel="stylesheet", href="/stylesheets/slick-default-theme.css")
		script(type="text/javascript", src="/javascripts/lib/jquery-2.0.3.min.js")
		script(type="text/javascript", src="/javascripts/lib/jquery.event.drag-2.2.js")
		script(type="text/javascript", src="/javascripts/lib/underscore-min.js")
		script(type="text/javascript", src="/javascripts/lib/backbone.js")
		script(type="text/javascript", src="/javascripts/lib/slickgrid/slick.core.js")
		script(type="text/javascript", src="/javascripts/lib/slickgrid/slick.grid.js")
		script(type="text/javascript", src="/javascripts/lib/slickgrid/slick.formatters.js")
		script(type="text/javascript", src="/javascripts/lib/slickback.min.js")
		script(type="text/javascript", src="/javascripts/lib/humanize.min.js")
		script(type="text/javascript", src="/javascripts/lib/smoothie.js")
		script(type="text/javascript", src="/javascripts/lib/moment.min.js")
		script(type="text/javascript", src="/javascripts/models.js")
		script(type="text/javascript", src="/javascripts/views.js")
		script(type="text/javascript", src="/javascripts/pstree.js")
	body
		div(style = "width: 100%; height: 120px")
			div(id = "cpuChart", style = "width: 300px; height: 100px")

		div(style = "width: 100%; height: 120px")
			div(id = "memChart", style = "width: 300px; height: 100px")

		div(id = "grid", class = "ui-grid-solo", style = "height: 500px")