doctype html
html
	head
		title Process Manager
		link(rel="stylesheet", href="css/process-explorer_styles.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		script(type="text/javascript", src="/socket.io/socket.io.js")
		script(text="text/javascript", src="/js/process-explorer_libs.min.js")
		script(text="text/javascript", src="/js/process-explorer_main.min.js")
	body
		div(id="mainLayout", style="width: 100%; height: 600px")
